.canvas {
    color: var(--color-white);
}

.canvas > .default {
    padding: 2em;
}

.canvas .heading {
    font-weight: normal;
    color: var(--color-dark-lighter);
    text-align: center;
    font-size: 1.6em;
}
