@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

:root {
    --color-dark: #333;
    --color-dark-light: #444;
    --color-dark-lighter: #666;
    --color-dark-text: #868686;
    --color-white: #eee;
    --color-black: #222;
    --color-green: #2ecc71;
    --color-blue: #3498db;
    --color-dark-text-gray: #aaa;
}

* {
    outline: none;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    user-select: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-dark);
    font-size: 15px;
    margin: 0;
    padding: 0;
}

body *.disabled {
    cursor: not-allowed !important;
}

#root {
    font-size: 1em;
}

button {
    border: 1px solid var(--color-black);
    background-color: var(--color-dark-lighter);
    color: var(--color-white);
    padding: 0.5em 1.3em;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: inherit;
}

button:active:not(.disabled) {
    transform: translateY(1px);
}

button.green {
    background-color: var(--color-green);
}

button.blue {
    background-color: var(--color-blue);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
