.top-bar {
    grid-column: 2;
    text-align: right;
    padding: 0.7em 1em;
    border-bottom: 1px solid var(--color-black);
}

.top-bar button:not(:last-child),
.top-bar .select:not(:last-child) {
    margin-right: 8px;
}
